$brand-primaryColor: #E21842;
$brand-secondaryColor: #b8b8b8;
$brand-white: hsl(0,0,100%);
$brand-dm-h: hsl(235,0%,96%);
$brand-dm-m: hsl(235,0%,74%);
$brand-dm-d: hsl(235,0%,52%);
$brand-dm-s: hsl(235,0%,30%);

$brand-black: hsl(0,0,0);
$brand-nm-s: hsl(235,0%,14%);
$brand-nm-d: hsl(235,0%,36%);
$brand-nm-m: hsl(235,0%,58%);
$brand-nm-h: hsl(235,0%,80%);