@import 'general';
@import 'typography';
@import 'color';
@import 'grid';
@import 'tab';
@import 'tocbot';
@import 'imgComparison';
@import 'accordion';
header{
    width: 100%;
    height: 8rem;
    border-bottom: 1px solid $brand-nm-s;
    background-color: black;
    z-index:100;
    position: fixed;
    top: 0;
    transition: $motion;
}
.header {
    height: 8rem;
    top: 0;
    &--hidden{
        top: -8rem;
        transition: $motion;
    }
    &__mainLogo{
        width: 100px;
        position: fixed;
        bottom: 24px;
        @include tablet{
            display: none;
        }
    }
    &__logo{
        grid-column: 1/3;
        justify-self: left;
        @include tablet{
            grid-column: 2/3;
        }
        @include mobile{
            grid-column: 1/3;
            padding-left: 5rem;
        }
    }
    &__logosvg{
        width: 72px;
        height: 31px;
        margin: 2rem 0px;
        -ms-grid-column-align: right;
        justify-self: right;
    }
    &__decription{
        grid-column: 4/8;
        justify-self: left;
        align-self: center;
        @include tablet{
            grid-column: 4/7;
        }
        @include mobile{
            display: none;
        }
    }
    &__sign{
        grid-column: 12/13;
        justify-self: right;
        align-self: center;
        @include tablet{
            grid-column: 8/9;
        }
        @include mobile{
            grid-column: 8/9;
            padding-left: 5rem;
        }
    }
    &__signsvg{
        height: 20px;
        fill:$brand-black;
        margin: 2.5rem 0px ;
    }
    @include tablet{
        grid-template-columns: 3rem 50px  1fr 1fr 1fr 1fr 1fr 100px;
    }
    @include mobile{
        grid-template-columns:  1fr 1fr 1fr;
        height: unset;
        row-gap: 0;
    }
    &__menu{
        grid-column: 4/11;
        @include tablet{
            grid-column: 3/8;
        }
        @include mobile{
            display:none;
        }
    }
    &__list{
        @include mobile{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0 -2rem;
        }
    }
    &__item{
        display: inline-block;
        margin: 0rem 2rem 0rem 0;
        height: 8rem;
        @include mobile{
            height: 6rem;
            margin: 0;
        }
        &--active{
            border-bottom: 2px solid $brand-primaryColor;
        }
        & > a{
            margin: 2.5rem 0 3rem 0;
            display: block;
            height: 2rem;
            @include mobile{
                margin: 1.5rem 0 2.5rem 0;
                text-align: center;
            }
            &:hover{
            color: black;
            
        }
        }
    }
    &__translate{
        grid-column: 1/4;
        justify-self: left;
        align-self: center;
        @include tablet{
            grid-column: 2/3;
        }
        @include mobile{
            grid-column: 1/3;
            padding-left: 5rem;
        }
        
    }
    &__hamico{
        display: none;
        width: 3rem;
        height: 3rem;
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        margin: 2.25rem;
        z-index: 1000;
        cursor: pointer;
        transition: $motion;
        &--hidden{
            transition: $motion;
            top: -7.5rem;
        }
        @include tablet{
            display:block;
        }
        
    
    }
    &__hamline{
        width: 20px;
        height: 2px;
        background-color: white;
        position: absolute;
        top:11px;
        left: 2px;
        transition: $motion;
        &:before{
            content: '';
            width: 20px;
            height: 2px;
            background-color: white;
            position: absolute;
            top: -8px;
            left: 0px;
            transition: $motion;
        }
        &:after{
            content: '';
            width: 20px;
            height: 2px;
            background-color: white;
            position: absolute;
            top: 8px;
            left: 0px;
            transition: $motion;
        }
        &--open{
            transition: $motion;
            background-color: transparent;
            &:after{
                transition: $motion;
                background-color: black;
                content: '';
                transform: rotate(-45deg) translate(6px , -5px);
                
            }
            &:before{
                transition: $motion;
                 background-color: black;
                content: '';
                transform: rotate(45deg) translate(6px , 5px);
                
            }
    }
    }

}
.main{
    padding-top: 10.5rem;
    overflow: hidden;
    @include mobile{
        padding-top: 16rem;
    }
    &__article{
        grid-column: 4/13;
        @include tablet{
            grid-column: 1/13;
        }
        
    }
    &__nav{
        position: fixed;
        top: 10.5rem;
        height: calc(100vh - 10.5rem);
        width: calc(((((100% - 24rem) - 33rem) / 12) * 3) + 6rem);
        transition: $motion;
        @include desktop{
            width: calc(((((100% - 6rem) - 33rem) / 12) * 3) + 6rem);
        }
        @include desktopx{
            width: 334px;
        }
        @include tablet{
            padding: 7.5rem 0rem 0rem 3rem;
            width: 300px;
            background-color: $brand-white;
            left: -300px;
            top:0;
            height: 100vh;
            z-index: 200;
        }
        
        &--open{
            transition: $motion;
            left: 0px;
        }
        &--up{
            transition: $motion;
            top : 3rem;
            height: calc(100vh - 3rem);
        }
    }
    &__menu{
        display: none;
        margin-bottom: 3rem;
        @include tablet{
            display: block;
        }
    }
    &__menuItem{
        margin-bottom: 1rem;
        & > a{
            font-size: 2.5rem;
        }
        &--active > a{
            color: black;
        }
    }

}
.icons{
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    row-gap: 6rem;
    padding: 6rem 0;
    @include tablet{
        grid-template-columns: repeat(8 , 1fr);
    }
    @include mobile{
        grid-template-columns: repeat(6 , 1fr);
    }
        &__icon{
        text-align: center;
        grid-column: span 2;
        width: 100%;
            &--unavailable::before{
             color: $brand-nm-d !important;
            }
        }
    & i{
        &::before{
            font-size: 9rem;
        }
    }
}
.colorBox{
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    border-radius: 50%;
    &_info{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        & p {
            text-align: center;;
        }
    }
    &_border{
        clip-path: polygon(0 0, 100% 18.75%, 100% 100%, 0% 100%);
        position: absolute;
        top:1px;
        left: 1px;
        width: calc(100% - 2px);
        padding-bottom: 100%
    }
     &_info--fade:hover{
        opacity: 1;
        transition: $motion;
    }
}
.compare{
    margin-bottom: 2rem;
    &__title{
        margin-bottom: 1rem;
    }
    &__subTitle{
        position: relative;
        margin-bottom: .5rem;
    }
    &__subTitle p:nth-child(1){
        color: black;
    }
    &__subTitle p:nth-child(2){
        position: absolute;
        top: 0;
        right: 0;
    }
    &__slider{
        position: relative;
    }
    &__left{
        height: 1rem;
        background-color: black;
        position: absolute;
    }
    &__right{
        height: 1rem;
        width: 100%;
        background-color: $brand-white;
    }
}
.link{
    padding: 1.5rem 2rem;
    background-color: $brand-primaryColor;
    color: white;
    &:hover{
        color: white;
        background-color: lighten($brand-primaryColor , 15%);
    }
}
.imgMotion{
    position: absolute;
    
}
span{
    font-family: $enFont;
}